# Project
app/node_modules/
**/node_modules/*
**/bower_components/*
src/main/resources/public/app/bower_components/
*.log

# Eclipse specific
/target/
.classpath
.project
.settings

# Netbeans specific
/bin/
/nbproject/

# IntelliJ
/.idea/
fil-rouge.iml